:root{
  --text: #678eb6;
  --highlight: #1269c0;
  --backround: #121212;
  --white: #ffffff; 
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	line-height: 1.5;
	box-sizing: border-box;
}

body {
  background-color: var(--backround); 
  color: var(--text);
}

h1 {
  text-align: center;
  color: var(--highlight);
  font-size: 45px; 
}

.HovedTekst{
  font-size: 60px;
}

.template{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.vare {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 300px;
  height: 600px;
  border: 2px solid var(--highlight);
}

.innskudd{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}


/* .kjonn{
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid var(--highlight);
} */